@media (prefers-color-scheme: dark) {
  :root {
    --color-scale-black: #1c2128;
    --color-scale-white: #cdd9e5;
    --color-scale-gray-0: #cdd9e5;
    --color-scale-gray-1: #adbac7;
    --color-scale-gray-2: #909dab;
    --color-scale-gray-3: #768390;
    --color-scale-gray-4: #636e7b;
    --color-scale-gray-5: #545d68;
    --color-scale-gray-6: #444c56;
    --color-scale-gray-7: #373e47;
    --color-scale-gray-8: #2d333b;
    --color-scale-gray-9: #22272e;

    --body-background-color: var(--color-scale-black);
    --header-background-color: var(--color-scale-gray-8);
    --item-background-color: var(--color-scale-gray-9);
    --font-color: #eeeeee;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-background-color: var(--color-scale-white);
  }
}

body {
  margin: 0;
  font-family: Nunito, Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
  color: var(--font-color);
}

.app-header {
  margin: 0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 55px;
  width: 100vw;
  background-color: var(--header-background-color);
}

h2 {
  margin: 0;
  padding: 12px;
}

.item-wrapper {
  width: 100%;
  border-radius: 10px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100vw;

  margin-top: 60px;
}

.item {
  text-align: left;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 300;
  background-color: var(--item-background-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.domain {
  padding-left: 4px;
}

.item-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4px;
  max-width: 400px;
}

.app {
  text-align: center;
}

footer {
  margin: 0 0 1vh 0;
  /* background-color: var(--header-background-color); */
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

button {
  background-color: var(--header-background-color);
  color: var(--font-color);
  border: none;
  padding: 10px;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  margin: 1vw;
  border-radius: 5px;
  width: 80px;
}
